body, html {
	height: 100%;
	margin: 0;
}


.fa {
    padding: 10px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;

    
}
.fa:hover {
    opacity: 0.7;
}
.fa-linkedin {
	/*
	left: 1020px;
	top: 170px;
	*/
    background: #495057;
    color: white;
}
.fa-github {
    background: #495057;
    color: white;
}
.fa-envelope {
    background: #495057;
    color: white;
}
.fa-file-text {
    background: #495057;
    color: white;
}

.header{
	width:100%;
	display: flex;
	justify-content: flex-end;

	padding-right: 50px;
}


.text {
	width:400px;
	display: flex;
	justify-content: flex-end;

	width: 100%;
}

.text > p {

width: 450px;
padding-right: 30px;
font-size:17px;
font-family: 'Titillium Web', sans-serif;
font-weight: 600;
text-align: left;



}

.links {
	padding-right: 150px;
}


.bg { 
height:100vh;
background-image: url("resources/background.jpg");

background-size: cover;
background-repeat: no-repeat;




}


@media only screen and (max-width: 600px) {
	.bg { 
height:100vh;
/*background-image: url("resources/background.jpg"); */

background-size: 100%;
background-repeat: no-repeat;
padding-top: 250px;



}

.text > p {


padding: 10px 10px;
font-size:17px;
font-family: 'Titillium Web', sans-serif;
font-weight: 600;
text-align: center; 



}

.header{
	width:100%;
	display: flex;
	justify-content: center;

	
}

.links {
	padding-right: 0px;
}

}

